.card {

    transition: transform 2s;
    transform-style: preserve-3d;
}

.card-transform{
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.button-transform
{
    backface-visibility: hidden;
}

.alert {
margin-bottom: 0rem;
margin-top: 20px;
width: 90%;
height:auto;
margin-left: 10px;
}

.alert-danger {
    background-image: none;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.form-control-error
{
    border: color #f20b0b;
    box-shadow: 0 0 0 2px #ffb3b3;
    border-radius: 0.5rem;
}

